#register-loading, #login-loading{
  text-align: center;
  display: none;
}

svg path,svg rect{
  fill: white;
}

.wall{
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

img{
  cursor: pointer;
}

#wall-more{
  color: #5c95f2;
  cursor: pointer;
  user-select: none;
}
